#table-app {
  max-width: 100%;
  width: 100%;
  display: block;
  margin-top: 50px;
  font-family: 'sf_ui__textregular';
}

.workout-item {
  position: relative;
  width: 100%;
}

.workout-heading {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #e8b735;
  color: #353535;
  text-align: center;
  padding: 5px 0;
}

.workout-heading h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  font-family: "GothamProBold";
}

.workout-timer {
  display: flex;
  justify-content: space-between;
  background-color: #353535;
  padding: 5px;
}

.workout-body {
  margin-bottom: 15px;
}

.time-data {
  font-family: monospace;
  font-size: 18px;
  color: #fff;
  background-color: #353535;
  padding: 5px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.button-control,
.button-reset {
  width: 55px;
  background-color: grey;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
}

.button-control {
  background-image: url(../img/svg/play.svg);
  background-size: 20px;
  background-position: 60% 50%;
  background-repeat: no-repeat;
  background-color: #e8b735;
  font-size: 0;
  width: 40px;
  border-radius: 100%;
  margin-left: 10px;
  height: 40px;
}

.button-control.stopButton {
  background-image: url(../img/svg/stop.svg);
  background-color: #e8b735;
  background-position: center;
}
.button-control.pauseButton {
  background-image: url(../img/svg/stop.svg);
  background-color: #e8b735;
  background-position: center;
}

.day-tabs {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #e8b735;
  border-bottom: 3px solid #e8b735;
  list-style: none;
  margin: 0;
  padding: 0;
}

.day-tabs li {
  flex: 1;
}

.day-tabs li a {
  display: block;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-family: "GothamProBold";
  text-transform: uppercase;
  background-color: #353535;
  color: #fff;
  text-decoration: none;
}

.day-tabs li a.active {
  background-color: #e8b735;
}

.day-content {
  padding: 0 15px;
}

.day-title {
  font-family: "GothamProRegular";
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
}

.exercise {
  margin-bottom: 10px;
}

.exercise-heading {
  background-color: #282828;
  color: #fff;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exercise.active .exercise-heading {
  background-color: #e8b735;
}

.exercise-title {
  display: block;
  flex: 1;
}

.exercise-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.exercise.active .exercise-content {
  max-height: 1000px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.exercise-content table {
  width: 100%;
  border-collapse: collapse;
}

.exercise-content table td {
  border: 1px solid #e8b735;
  padding: 5px;
}

.exercise-content table td:nth-child(2) {
  text-align: right;
}

.workout-footer {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #e8b735;
  border-bottom: 3px solid #e8b735;
  color: #fff;
  background-color: #353535;
  padding: 5px 25px;
  font-size: 16px;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
}

.set-weight {
  display: block;
  padding: 0;
  background-image: url(../img/svg/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  color: #353535;
  background-color: #e8b735;
  text-decoration: none;
  font-size: 0;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.exercise-video {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-image: url(../img/svg/video.svg);
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.exercise-toggle {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  position: relative;
}

.exercise-toggle span {
  position: absolute;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: #fff;
}

.exercise-toggle span:nth-child(1) {
  left: 6px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

.exercise-toggle span:nth-child(2) {
  right: 6px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}

.exercise.active .exercise-toggle span:nth-child(1) {
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}

.exercise.active .exercise-toggle span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

.weight-edit {
  background-color: #1f1f1f;
  border: none;
  color: #fff;
  font-size: 16px;
  display: none;
  max-width: 50px;
}

.workout-footer.editing .weight-target {
  display: none;
}

.workout-footer.editing .weight-edit {
  display: inline-block;
}

.workout-footer.editing .set-weight {
  background-image: url(../img/svg/check.svg);
}

.day {
  opacity: 0;
  width: 0;
  max-height: 0;
  overflow: hidden;
}

.day.active {
  opacity: 1;
  width: 100%;
  max-height: inherit;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.past .workout-timer > div {
  opacity: 0;
  pointer-events: none;
}

.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  display: flex;
  transform: translateY(-100%);

}

.video-popup.active {
  transform: none;

}

.close-popup {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #353535;
  background-color: #e8b735;
  border-radius: 5px;
  background-image: url(../img/svg/close.svg);
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
  margin-right: 2.5%;
  margin-bottom: 15px;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0,0,0,0.75);
  cursor: pointer;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}

.popup-inner {
  position: relative;
  z-index: 10;
  width: 95%;
  margin-right: 2.5%;
  border: 3px solid #e8b735;
  border-radius: 5px;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}

.video-popup.active .popup-overlay,
.video-popup.active .popup-inner {
  transform: none;
  transition: all 0.3s ease-in-out;
}

.popup-inner iframe {
  display: block;
  width: 100%;
}

.table-app .owl-nav {
  position: absolute;
  z-index: 10;
  top: 115px;
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.table-app .owl-nav > div {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.table-app .owl-nav > div.disabled {
  opacity: 0.7;
  cursor: default;
}

.table-app .owl-nav > div.owl-prev {
  background-image: url(../img/svg/back.svg);
}

.table-app .owl-nav > div.owl-next {
  background-image: url(../img/svg/next.svg);
}

@media(min-width: 769px) {

  #table-app {
    margin-top: 65px;
  }

  .time-data {
    font-family: monospace;
    font-size: 24px;
    color: #fff;
    background-color: #353535;
    padding: 5px;
    flex: initial;
    justify-content: center;
    margin: 0 25px;
  }

  .day-tabs {
    justify-content: flex-start;
    background-color: #383838;
  }

  .day-tabs li a {
    padding: 5px 25px;
  }

  .exercise-toggle {
    display: none;
  }

  .exercise-content {
    max-height: initial;
    overflow: hidden;
    opacity: initial;
    transition: opacity 0.3s ease-in-out;
  }

  .button-control,
  .button-reset {
    line-height: 44px;
  }

  .day.active {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .day-title {
    font-size: 24px;
    width: 100%;
  }

  .exercise {
    width: 33%;
  }

  .exercise-content table td {
    padding: 5px 15px;
    font-size: 18px;
  }

  .day-tabs li {
    flex: initial;
  }

  .workout-timer {
    justify-content: center;
  }

  .exercise-video {
    order: 4;
    background-color: #383838;
    transition: all 0.3s ease-in-out;
  }

  .exercise-title {
    text-align: left;
    padding-left: 5px;
  }

  .table-app .owl-nav {
    top: 125px;
  }

  .set-weight {
    display: block;
    background-position: 15px;
    color: #353535;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    padding: 0 25px 0 50px;
    width: auto;
    transition: all 0.3s ease-in-out;
  }

  .set-weight:hover {
    color: #353535;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }

  .exercise-video:hover {
    background-color: #e5b839;
    border-color: #e5b839;
    transition: all 0.3s ease-in-out;
  }

  .popup-inner iframe {
    min-height: 550px;
  }

}
